body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
}
h1{
    font-size: 40px;
    padding-left: 50px;
}
p{
    padding: 50px;
}
section{
    display: flex;
    margin-bottom: 100px;
}
section img{
    width: 80%;
}
.useing-width{
    width: 50%;
}
.proper{
    width: 100%;
}
.seperate-color{
    color: rgb(15, 167, 228);
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue ,cyan);
    color: rgb(14, 13, 13);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 10px;
    margin-left: 50px;
}
.top-banner{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
}
.partnership{
    background-image: url(image/Frame\ 57.jpg);
  
}
h1{
    text-align: center;
}