body{
    font-family: 'Roboto Slab', serif;
    margin: 0;
}
h1{
    font-size: 40px;
   
    
}
h4{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}
h3{
  margin-left: 70px;
  margin-bottom: 50px;
}
section{
    display: flex;
    margin-bottom: 100px;
}
section img{
    width: 80%;
}
.useing-width{
    width: 50%;
}
.proper{
    width: 100%;
}
.seperate-color{
    color: rgb(15, 167, 228);
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue ,cyan);
    color: rgb(255, 254, 254);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 10px;
    margin-left: 70px;  
}
.top-banner{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
}
.partnership{
    background-image: url(image/Frame\ 57.jpg);
  
}
h1{
    text-align: center;
}
.recipie-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 50px gray;
    border-radius: 20px;
    
}
p{
    margin-bottom: 50px;
}
